<div ng-controller="ConversionsController as cc" class="conversions-div">

  <nav class="nav">
    <span id="food">food.</span>
    <a href="/home">Home</a>
    <a href="/shopping">Shopping List</a>
    <a href="/recipes">Recipes</a>
    <a href="/conversions">Conversions</a>
  </nav>

  <div class="container">
    <br>
    <h2 id="conversions-header">Conversions <i class="fa fa-balance-scale"></i></h2>
    <hr>
    <!-- <div class="conversions"> -->
    <div class="grid-container">

      <div class="grid-item">
        <i class="fa fa-spoon" style="font-size:200%"></i>
        <i class="fa fa-spoon" style="font-size:200%"></i>
        <i class="fa fa-spoon" style="font-size:200%"></i>
        <i id="equals">=</i>
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <p>3 TSP = 1 TBSP</p>
      </div>

      <div class="grid-item">
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <i id="equals">=</i>
        <img src="styles/images/measuring-cup.png" alt="measuring cup"
           id="measuring-cup" height="15%">
        <p>4 TBSP = 1/4 CUP</p>
      </div>

      <div class="grid-item form-group">
        <input class="form-control" type="text"
          placeholder="Enter calculation input here"
          ng-model="cc.conversionsInput">
        <br>
        <select class="form-control" ng-model="cc.conversionsSelect">
          <option value="TSP">TSP</option>
          <option value="TBSP">TBSP</option>
          <option value="CUP">CUP</option>
          <option value="OZ">OZ</option>
        </select>
        <br>
        <button type="button" class="btn btn-light btn-block" id="convert-button"
          ng-click="cc.convertInput()">Convert</button>
      </div>

      <div class="grid-item"></div>

      <div class="grid-item"></div>

      <div class="grid-item"></div>

      <div class="grid-item"></div>

      <div class="grid-item"></div>

      <div class="grid-item"></div>
    </div>   <!-- end grid container -->

  </div>

</div>
