<div class="conversions-div">

  <nav class="nav">
    <span id="food">food.</span>
    <a href="/home">Home</a>
    <a href="/shopping">Shopping List</a>
    <a href="/recipes">Recipes</a>
    <a href="/conversions">Conversions</a>
  </nav>

  <div class="container">
    <br>
    <h2 id="conversions-header">Conversions <i class="fa fa-balance-scale"></i></h2>
    <hr>
    <!-- <div class="conversions"> -->
    <div class="grid-container">
      <div class="grid-item">
        <i class="fa fa-spoon" style="font-size:200%"></i>
        <i class="fa fa-spoon" style="font-size:200%"></i>
        <i class="fa fa-spoon" style="font-size:200%"></i>
        <i id="equals">=</i>
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <p>3 TSP = 1 TBSP</p>
      </div>
      <div class="grid-item">
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <i class="fa fa-spoon" style="font-size:250%"></i>
        <i id="equals">=</i>
        <img src="styles/images/measuring-cup.png" alt="measuring cup" height="35%">
        <p>4 TBSP = 1/4 CUP</p>
      </div>

      <div class="grid-item">3</div>
      <div class="grid-item form-group">
        <input class="form-control" type="text" placeholder="Enter calculaation input here">
        <br>
        <select class="form-control">
          <option value="TSP">TSP</option>
          <option value="TBSP">TBSP</option>
          <option value="CUP">CUP</option>
          <option value="OZ">OZ</option>
        </select>
        <br>
        <button type="button" class="btn btn-light">Convert</button>
      </div>
      <div class="grid-item">5</div>
      <div class="grid-item">6</div>
      <div class="grid-item">7</div>
      <div class="grid-item">8</div>
      <div class="grid-item">9</div>
    </div>
    <!-- </div> -->
  </div>

  </div>
