<div ng-controller="ShoppingController as sc" class="shopping-div">

  <nav class="nav">
    <span id="food">food.</span>
    <a href="/home">Home</a>
    <a href="/shopping">Shopping List</a>
    <a href="/recipes">Recipes</a>
    <a href="/conversions">Conversions</a>
  </nav>

  <div class="container">
    <br>
    <h2 id="shopping-list-header">Shopping List <i class="fa fa-shopping-cart"></i></h2>
    <hr>
    <div class="shopping-list">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="New Item" ng-model="sc.shoppingInput">
        <button class="btn btn-default" type="submit" id="addItemButton" ng-click="sc.addItem()">Add Item</button>
      </div>

      <br>

      <div id="itemList" data-ng-init="sc.getShoppingList()">
        <div class="col-sm-3 fa" id="listItems"
        ng-repeat="data in sc.items track by $index">
          {{ data.item }}
          <button type="button" id="deleteButton" class="fa fa-close" ng-click="sc.delete($index)"></button>
        </div>
      </div>
    </div>
  </div>

</div>
