/* Home */

.homeBackgroundDiv {
  /* margin-top: -2em; */
  height: 100vh;
  padding-bottom: 100px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/food.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.nav a {
  color: White;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.home {
  text-align: center;
  height: 100vh;
}

#food {
  color: #CD3278;
  font-size: 500px;
}


/* Shoping List */

.shopping-div {
  background-color: #C1C1C1;
  height: 100vh;
}

#shopping-list {
  color: #CD3278;
}




/* Media Queries */

@media only screen and (max-width: 320px) {

   body {
      font-size: 2em;
   }

}
