/* HOME */

.homeBackgroundDiv {
  /* margin-top: -2em; */
  height: 100vh;
  padding-bottom: 100px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/food.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.nav a {
  color: #FFF;
  font-size: 20px;
  text-align: center;
  /* text-shadow: 1px 1px #000; */
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.home {
  text-align: center;
}

#food {
  color: #CD3278;
  font-size: 50px;
  margin-top: 20px;
  margin-right: 20px;
}


/* SHOPPING LIST */

.shopping-div {
  background-color: #EAEAEA;
  height: 100vh;
}

#shopping-list-header {
  color: #8A3324;
}

.btn {
  color: Grey;
}

/* RECIPES */

.recipes-div {
  background-color: #EAEAEA;
  height: 100vh;
}

#recipes-header {
  color: #8A3324;
}


/* CONVERSIONS */

.conversions-div {
  background-color: #EAEAEA;
  height: 100vh;
}

#conversions-header {
  color: #8A3324;
}


/* Media Queries */

@media only screen and (max-width: 320px) {

   body {
      font-size: 2em;
   }

}
