.homeBackgroundDiv {
  margin-top: -2em;
  height: 100%;
  padding-bottom: 100px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/food.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  justify-content: center;
}

.nav a {
  color: White;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#food {
  color: #CD3278;
  font-size: 500px;
}

@media only screen and (max-width: 320px) {

   body {
      font-size: 2em;
   }

}
